<style>
      body {
        font-family: sans-serif;
        background-color: #f9f9f9;
        padding: 20px;
      }
      h1 {
        color: #2c3e50;
      }
      code {
        background: #eee;
        padding: 2px 4px;
        border-radius: 4px;
      }
 </head>
  <body>
    <h1>&lt;h1&gt; Tibetan Dog</h1>

    <p>&lt;p&gt </p>big dogs who are domisticated by people living in Tibet</p>

    <ul>
      <li>&lt;ul&gt; creates an unordered list:</li>
      <li>&lt;li&gt; Each &lt;li&gt; is a list item</li>
    </ul>

    <a href="https://TibetanDog.#001" target="_blank">&lt;a&gt; This is a link tag — it goes to another webpage</a>

    <br><br>

    <img src="one-monastery.jpg" alt="TibetanDogs.html" width="200">
    <p>&lt;img&gt; displays an image. The <code>src</code> attribute is the image URL.</p>
   <style>
